@tailwind base;

* {
  @apply font-base text-dark;
}

h1 {
  @apply text-5xl font-extrabold;
}

h3 {
  @apply text-2xl font-medium;
}

button {
  @apply px-4 py-2 rounded-md shadow-md;
}

@tailwind components;

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

@tailwind utilities;

.bucket {
  @apply flex justify-center items-center;
  @apply text-lg font-medium;
  @apply w-20 h-20 bg-white shadow-md mx-2 rounded-md;
  @apply cursor-pointer;
}
